<form method="POST" action="/success">
    <h3>Login</h3>
    <div class="mb-3">
    <label for="exampleInputEmaill" class="form-label">Email address</label> <input type="email" id="email" name="email" class="form-control" id="exampleInputEmaill" aria
    
    describedby="emailHelp">
    </div>
    <div class="mb-3">
    
    <label for="exampleInput Password1" class="form-label">Password</label> <input type="password" id="password" name="password" class="form-control" id="exampleInput Password1">
    
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>